@media (max-width:768px){
    .index-nav{
        display: none;
    }
}
.burger-bar{
    display: block;
    color: aqua;
}
.header-block{
    flex-direction: column;
}
.nav-item{
    flex-direction: column;
    align-items: center;
}
.navigation.activeNav{
    display: block;
}