/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


.header-block{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;	
}

.nav-item{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
    font-family: 'Shantell Sans', cursive;
}
.li-item{
    position: relative;
	margin-right: 15px;
}
.li-item:after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: blue;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transition: all 2s linear;
    -o-transition: all 2s linear;
    transition: all 2s linear;
   
}
.i-item:hover:after{
    width: 100%;
}
.burger-bar{
    display: none;
}
.bg-image {
    width: 100%;
    height: 600px;
    background-image: url('../image/bgimage14.jpg');
    background-size: cover;
    background-position: center center;
   
}

.explore-item{
    width: 1900px;
    height: 500px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
    
}

.explore-conteiner{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   text-align: center;
}

.expl-title{
    font-size: 40px;
    color: green;
    font-family: 'Shantell Sans', cursive;
    -webkit-transition: all 1s linear 1s;
    -o-transition: all 1s linear 1s;
    transition: all 1s linear 1s;
}
.expl-title:hover{
    color: rgb(13, 43, 107);
   
}

.expl-description{
    margin-top: 20px;
    font-size: 20px;
    color: rgb(2, 32, 34);
    font-family: 'Pacifico', cursive;
    -webkit-transition: all 1s linear 1s;
    -o-transition: all 1s linear 1s;
    transition: all 1s linear 1s;
}
.expl-description:hover{
    color: rgb(209, 15, 15);

}


/* page 1 section 2 */

.home-block{
    max-width: 1920px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
    
}
.box-block{
    width: 250px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
  /* background-color: aliceblue; */
}
.block-h{
    margin-top: 11px;
    margin-bottom: 19px;
    font-size: 13px;
    font-family: 'Shantell Sans', cursive;
}
.block-p{
    font-family: 'Zeyada', cursive;
    

}

/* places page */

.places-block{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   
}


.nav-item2{
    width: 900px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   margin: 0 auto;
   text-align: center;
   font-family: 'Shantell Sans', cursive;

   
}
.block-h3{
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-family: 'Shantell Sans', cursive;

}
.places-box{
    width: 400px;
    height: 400px;  
}

.image-size{
    width: 400px; 
    border-style: hidden;
 
}
.country-name{
    font-size: 20px;
    font-family: 'Shantell Sans', cursive;
}
.description{
    margin-top: 11px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Zeyada', cursive;
}
.plane-icone{
    margin-left: 5px;
    margin-right: 5px;
}

.icone-conteiner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

}
.left-icone-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.icones{
    width: 30px;
	height: 30px;
    margin-bottom: 15px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: rgb(98, 195, 219);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-radius:38px;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}
.price{
    font-size: 20px;
    font-family: 'Shantell Sans', cursive;

}
.title{
    font-size: 10px;
    font-family: 'Shantell Sans', cursive;

}
.places-box:nth-child(1){
    margin-bottom: 50px;
    margin-top: 20px;

}
.places-box:nth-child(2){
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.places-box:nth-child(3){
    margin-bottom: 50px;
    margin-top: 20px;
    
}

.places-box:nth-child(5){
    margin-left: 20px;
    margin-right: 20px;
}

/* footer */
.footer-conteiner{
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   -ms-flex-pack: distribute;
       justify-content: space-around;
   background-color: rgb(83, 173, 233);
}
.footer-ul{
    width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
/* contact page */
.bg-image2 {
    width: 100%;
    height: 500px;
    background-image: url('../image/bgimage10.jpg');
    background-size: cover;
    background-position: center center;
}
.contact-conteiner{
    max-width: 1700px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack:distribute;
        justify-content:space-around;

}

.left-contact{
    width: 400px;
    height: 400px;
    margin-top: 60px;

  
}
.right-contact{
    width: 500px;
    height: 400px;
    margin-top: 60px;
   
    
}
.bg-image3 {
    width: 100%;
    height: 1000px;
    background-image: url('../image/cnbgimage.jpg');
    background-size: cover;
    background-position: top center;
}

.contact-h{
    font-size: 40px;
    margin-bottom: 50px;
    color: rgb(9, 81, 129);
    font-family: 'Shantell Sans', cursive;
}

.contact-visit{
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(9, 81, 129);
    font-family: 'Shantell Sans', cursive;

}
.contact-p{
    font-size: 20px;
    margin-top: 15px;
    color: rgb(9, 81, 129);
    font-family: 'Shantell Sans', cursive;

}
.contact-p2{
    margin-top: 5px;
    font-size: 15px;
    font-family: 'Pacifico', cursive; 
}
.contact-call{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: rgb(9, 81, 129);
    font-family: 'Shantell Sans', cursive;
  
}
.contact-icone:hover{
    color: rgb(104, 58, 212);

}
.contact-elements{
    margin-top: 45px;
    

}
.contact-icone{
    color: rgb(9, 81, 129);
    font-size: 40px;
    
}

.input-element{
    max-width: 400px;
    width: 100%;
    margin-top: 10px;
    margin-bottom:10px;
}


.bt-submit{
    width: 150px;
    height: 50px;
    color: rgb(15, 4, 29);
    background-color:rgb(236, 224, 155);
    margin-top: 20px;
    border: none;
    border-radius: 60px;
    font-family: 'Shantell Sans', cursive;
    -webkit-transition: all 1s linear 1s;
    -o-transition: all 1s linear 1s;
    transition: all 1s linear 1s;
}
.bt-submit:hover{
    background-color: blanchedalmond
}
.text-area{
    width: 100%;
    height: 200px;
    border-radius:15px;
    background-color:rgb(236, 224, 155);
    -webkit-transition: all 1s linear 1s;
    -o-transition: all 1s linear 1s;
    transition: all 1s linear 1s;
}
.text-area:hover{
    background-color: blanchedalmond;
}

.form-box{
    max-width: 300px;
    width: 100%
}

.input-text{
    width: 100%;
    height: 40px;
    border: none;
    background-color:rgb(236, 224, 155);
    border-radius: 15px;
    -webkit-transition: all 1s linear 1s;
    -o-transition: all 1s linear 1s;
    transition: all 1s linear 1s;
   
}
.input-text:hover{
    background-color: blanchedalmond
}
    
.ftcontact{

    background-color: blanchedalmond
}
.contact-element-box{
    width: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}


    
    